{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p>Por favor insira e confirme a sua nova password..</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nova password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirme a password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>O restauro da password falhou.</h1>
        <p>O link de restauro da password é inválido, provavelmente já foi usado. Por favor requisite um novo restauro de password.</p>
    {% endif %}
{% endblock %}